<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CFBundleDevelopmentRegion</key>
	<string>English</string>
	<key>CFBundleDisplayName</key>
	<string>Otto</string>
	<key>CFBundleExecutable</key>
	<string>Otto</string>
	<key>CFBundleGetInfoString</key>
	<string>"CopyrightString"</string>
	<key>CFBundleIconFiles</key>
	<array>
		<string>projector_72x72.png</string>
		<string>projector_57x57.png</string>
	</array>
	<key>CFBundleIdentifier</key>
	<string>com.adobe.director.otto</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleLongVersionString</key>
	<string>"CopyrightString"</string>
	<key>CFBundleName</key>
	<string>Otto</string>
	<key>CFBundlePackageType</key>
	<string>APPL</string>
	<key>CFBundleShortVersionString</key>
	<string>"1.0.0r0"</string>
	<key>CFBundleSignature</key>
	<string>PJ03</string>
	<key>CFBundleVersion</key>
	<string>"1.0.0r0"</string>
	<key>CSResourcesFileMapped</key>
	<true/>
	<key>NSHumanReadableCopyright</key>
	<string>"CopyrightString"</string>
	<key>UIInterfaceOrientation</key>
	<string>UIInterfaceOrientationLandscapeLeft</string>
	<key>UILaunchImageFile~ipad</key>
	<string>OttoiPadImage.png</string>
	<key>UIStatusBarHidden</key>
	<true/>
	<key>UISupportedInterfaceOrientations~ipad</key>
	<array>
		<string>UIInterfaceOrientationPortrait</string>
		<string>UIInterfaceOrientationPortraitUpsideDown</string>
		<string>UIInterfaceOrientationLandscapeLeft</string>
		<string>UIInterfaceOrientationLandscapeRight</string>
	</array>
</dict>
</plist>
