SDKROOT = iphoneos
BUILD_DIR = $(SRCROOT)/build
SYMROOT = $(BUILD_DIR)
CONFIGURATION_BUILD_DIR = $(BUILD_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
PROJECT_TEMP_DIR = $(SRCROOT)/build/$(PRODUCT_NAME).build
CONFIGURATION_TEMP_DIR = $(PROJECT_TEMP_DIR)/$(CONFIGURATION)$(EFFECTIVE_PLATFORM_NAME)
OBJROOT = $(CONFIGURATION_TEMP_DIR)/Intermediates
SHARED_PRECOMPS_DIR = $(CONFIGURATION_TEMP_DIR)/Intermediates/Precompiled
GCC_C_LANGUAGE_STANDARD = gnu99
GCC_VERSION = com.apple.compilers.llvmgcc42 
OTHER_LDFLAGS = -ObjC -lOtto -framework OpenGLES -framework CoreText -framework CoreLocation -framework CoreAudio -framework AudioToolBox -framework SystemConfiguration -framework CoreMotion -framework CFNetwork -framework QuartzCore -framework StoreKit -framework GameKit -framework iAd
IPHONEOS_DEPLOYMENT_TARGET = 4.3
TARGETED_DEVICE_FAMILY = 1,2

ALWAYS_SEARCH_USER_PATHS = NO
HEADER_SEARCH_PATHS = "$(SRCROOT)/../Include/ios" "$(SRCROOT)/../Include"

LIBRARY_SEARCH_PATHS = "$(SRCROOT)/../Lib/ios"

GCC_PRECOMPILE_PREFIX_HEADER = NO
GCC_INCREASE_PRECOMPILED_HEADER_SHARING = NO
PRECOMPS_INCLUDE_HEADERS_FROM_BUILT_PRODUCTS_DIR = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES
GCC_WARN_ABOUT_MISSING_PROTOTYPES = YES

INFOPLIST_FILE = ios/Info.plist

PRODUCT_NAME = Otto
GCC_PREPROCESSOR_DEFINITIONS_IOS = _IOS
